:root {
    --font-titulo: "Press Start 2P", system-ui, sans-serif;
    --font-texto: "IBM Plex Mono", monospace, sans-serif;
    --background-roxo1: #5300C8;
    --background-roxo2: #5D04D9;
    --background-roxo3: #7b25cc;
    --texto-preto: #000000;
    --texto-branco: #E5E5E5;
    --texto-laranja: #E95D44;
    --texto-azul: #03318C;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes wave {
    0% { transform: translateY(0); }
    50% { transform: translateY(-2px); }
    100% { transform: translateY(0); }
}

body {
	line-height: 1;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    /* background-image: linear-gradient(to top, #5300c8, #7b25cc, #8a4ad9); */
    background-image:linear-gradient(to top, #000000, rgba(0, 0, 0, 0.363));
}

.geral {
    display: flex;
    gap: 40px;
    flex-direction: column;
    width: 1440px;
    background-color: white;
}

/* HEADER */
.cabeçalho {
    background-color: var(--background-roxo1);
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 5px 0px;
    box-shadow: 0px 7px 0.9px #00000040 ;
}

.logo {
    display: flex;
    width: 374px;
    height: 56px;
    align-items: center;
}

.logo__img {
    width: 138px;
    height: 56px;
    background-image: url(../images/heart.png);
    background-size: cover;
    background-position: center;
}

.logo__titulo {
    font-family: var(--font-titulo);
    font-size: 24px;
    font-weight: 400;
    color: var(--texto-branco);
    cursor: default;
}

.logo__titulo > span {
    color: var(--texto-laranja);
}

/* PRINCIPAL */
.principal {
    display: flex;
    justify-content: space-evenly;
    width: 98.5%;
    height: auto;
    
}

/* SEÇÃO PRODUTOS */
.secao-produtos {
    display: flex;
    align-items: center;
    gap: 40px;
    flex-direction: column;
    height: 75vh;
    max-width: 700px;
}

.secao-produtos__titulo, .secao-formulario__titulo {
    /* text-align: center; */
    font-family: var(--font-titulo);
    font-size: 24px;
    font-weight: 400;
    color: var(--texto-preto);
}

.cards-produtos {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--background-roxo2);
    font-family: var(--font-texto);
    color: var(--texto-branco);
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    transition: transform 0.2s ease;
}

.card:hover {
    transform: scale(1.05);
}

.card__img {
    width: 176px;
    height: 174px;
    border: 1px solid black;
    border-radius: 5px;
}

.card-container__info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card-container__nome {
    font-weight: 400;
    font-style: italic;
}

.card-container__valor {
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}

.icone-trash {
    cursor: pointer;
}


/* SEÇÃO FORMULARIO */
.secao-formulario {
    display: flex;
    align-items: center;
    gap: 40px;
    flex-direction: column;
    height: 75vh;
}

/* .secao-formulario__titulo ( ESTA JUNTO COM O SEÇÃO PRODUTOS TITULO) */

.formulario {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.formulario > div > label {
    display: block;
    font-family: var(--font-texto);
    font-weight: 700;
    color: #8845db;
    padding-bottom: 5px;
}

.formulario__final {
    display: flex;
    justify-content: space-evenly;
}

.campo {
    border: 2px solid var(--background-roxo3);
    border-radius: 20px;
    font-family: var(--font-texto);
    width: 250px;
    padding: 10px;
    transition: transform 0.2s ease;
}

.campo:focus {
    border: 2px solid var(--background-roxo2);
    transform: scale(1.05);
}

.botoes {
    border-radius: 10px;
    font-family: var(--font-texto);
    font-weight: bold;
    padding: 15px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.botoes:hover {
    transform: scale(1.15);
}

.btnAdicionar {
    background-color: #8945dbec;
    color: var(--texto-branco);
}

.btnLimpar {
    color: var(--texto-preto);
}

/* RODAPÉ */
.rodape__container {
    text-align: center;
    background-color: var(--background-roxo1);
    font-family: var(--font-texto);
    color: var(--texto-branco);
    margin-top: 86px;
    padding: 10px;
}

.rodape__container > p > a {
    text-decoration: none;
    color: var(--texto-laranja);
    font-weight: bold;
}

.rodape__container > p > a:hover {
    animation: blink 1.5s infinite;
}

.rodape__container > p {
    animation: wave 2s ease-in-out infinite;
    cursor: default;
}

@media screen and (min-width: 800px) and (max-width: 1100px) {
    .secao-produtos {
        max-width: 600px;
    }

    .cards-produtos {
        justify-content: center;
    }
}

@media screen and (max-width: 799px) {
    .principal {
        flex-direction: column-reverse;
        gap: 50px;
    }

    .secao-produtos {
        height: auto;
        max-width: 100%;
    }

    .cards-produtos {
        justify-content: center;
    }

    .secao-formulario {
        height: auto;
    }


}